
<h1>To Do List</h1>
<h3>Add a new contact:</h3>
<form action='/contacts' method='post'>
  <label for='new-contact'>Contact Description</label>
  <input id='new-contact' name='new-contact' type='text'>
  <button type='submit'>Add contact</button>
</form>
