<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Contacts</title>
  </head>
  <body>
    <h3>Contact Details:</h3>
      <ul>
        <li>Name: @Model.GetName()</li>
        <li>Phone: @Model.GetPhone()</li>
        <li>Address: @Model.GetAddress()</li>
      </ul>

      <br>
      <br>
      <hr>
      <a href="/Homepage">Return to Homepage</a>
      <hr>
  </body>
</html>
